<a href="https://colab.research.google.com/github/annsarapaul/ISLR-python/blob/master/Notebooks/Ann/Chapter%203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 3 - Linear Regression

- [Load Datasets](#Load-Datasets)
- [3.1 Simple Linear Regression](#3.1-Simple-Linear-Regression)
- [3.2 Multiple Linear Regression](#3.2-Multiple-Linear-Regression)
- [3.3 Other Considerations in the Regression Model](#3.3-Other-Considerations-in-the-Regression-Model)

In [1]:
# %load ../standard_import.txt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import axes3d
import seaborn as sns

from sklearn.preprocessing import scale
import sklearn.linear_model as skl_lm
from sklearn.metrics import mean_squared_error, r2_score
import statsmodels.api as sm
import statsmodels.formula.api as smf

%matplotlib inline
plt.style.use('seaborn-white')

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

### Load Datasets
Datasets available on http://www-bcf.usc.edu/~gareth/ISL/data.html

#### Downloading Files so Colab can use

In [2]:
data_folder = '/content/Data'

In [4]:
!wget -q https://raw.githubusercontent.com/annsarapaul/ISLR-python/master/Notebooks/Data/Advertising.csv  -P $data_folder
!wget -q https://raw.githubusercontent.com/annsarapaul/ISLR-python/master/Notebooks/Data/Credit.csv -P $data_folder
!wget -q https://raw.githubusercontent.com/annsarapaul/ISLR-python/master/Notebooks/Data/Auto.csv -P $data_folder
#Data/Advertising.csv'

In [6]:
advertising = pd.read_csv(data_folder + '/Advertising.csv', usecols=[1,2,3,4])
advertising.head(5)

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [8]:
credit = pd.read_csv('Data/Credit.csv', usecols=list(range(1,12)))
credit.head(3)

    Income  Limit  Rating  Cards  ...  Student  Married  Ethnicity Balance
0   14.891   3606     283      2  ...       No      Yes  Caucasian     333
1  106.025   6645     483      3  ...      Yes      Yes      Asian     903
2  104.593   7075     514      4  ...       No       No      Asian     580

[3 rows x 11 columns]

In [9]:
auto = pd.read_csv('Data/Auto.csv', na_values='?').dropna()
auto.head(5)

    mpg  cylinders  displacement  ...  year  origin                       name
0  18.0          8         307.0  ...    70       1  chevrolet chevelle malibu
1  15.0          8         350.0  ...    70       1          buick skylark 320
2  18.0          8         318.0  ...    70       1         plymouth satellite
3  16.0          8         304.0  ...    70       1              amc rebel sst
4  17.0          8         302.0  ...    70       1                ford torino

[5 rows x 9 columns]

## 3.1 Simple Linear Regression

Linear Equation

$\hat{y}= \beta _{0} + \beta _{1}X$

**Least Square Approximation** is used to calculate $\beta _{0}$ and $\beta _{1}$ with minimum RSS

$\hat{\beta_{1}} = \frac{\sum (x_{i}-\bar{x})*(y_{i}-\bar{y})}{\sum (x_{i}-\bar{x})^2}$

$\hat{\beta_{0}} = \bar{y} - \hat{\beta_{1}} *\bar{x}$

#### Error Calculations

##### Residual sum of squares (RSS)

RSS = $\sum_{}^{n}(y_{i} - \hat{y_{i}})^2$